:root {
  --primary-clr-500: hsl(355, 100%, 74%);
  --primary-clr-600: hsl(356, 100%, 66%);
  --primary-clr-700: hsl(208, 49%, 24%);
  --neutral-clr-400: hsl(0, 0%, 100%);
  --neutral-clr-500: hsl(240, 2%, 79%);
  --neutral-clr-550: hsl(240, 2%, 79%, 0.3);
  --neutral-clr-700: hsl(207, 13%, 34%);
  --neutral-clr-750: hsl(207, 13%, 34%, 0.5);
  --neutral-clr-800: hsl(240, 10%, 16%);

  --bg-hero: linear-gradient(
    90deg,
    hsl(13, 100%, 72%) 45%,
    hsl(353, 100%, 62%)
  );
  --bg-middle-section: linear-gradient(
    90deg,
    hsl(237, 17%, 21%) 10%,
    hsl(237, 23%, 32%)
  );
  --ff-ubuntu: "Ubuntu", "Comic Sans MS", sans-serif;
  --ff-overpass: "Overpass", "Comic Sans MS", sans-serif;
}

.article {
  max-width: 1130px;
  margin-inline: auto;
}

.title-3 {
  font-size: 1.75rem;
  font-weight: 800;
  font-family: var(--ff-overpass);
  color: var(--neutral-clr-700);
  padding-block: 2rem 1.4375rem;
  letter-spacing: -0.0075em;
}

.title-3 + .purpose {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--ff-overpass);
  color: var(--neutral-clr-700);
  line-height: 1.7;
  max-width: 52.5ch;
  letter-spacing: 0.025em;
}

.dd {
  font-family: var(--ff-ubuntu);
  font-size: 1rem;
  font-weight: 700;
  color: var(--neutral-clr-400);
  background-color: transparent;
  border: 0;
  position: relative;
  opacity: 0.8;
}

.dd::after {
  content: "";
  position: absolute;
  background-image: url("/src/assets/static/icons/icon-arrow-light.svg");
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  top: 45%;
  right: -1.5em;
}

.dd:hover,
.dd.expanded,
.ua-login:hover,
.footer-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.375em;
  text-decoration-thickness: 0.125em;
  opacity: 1;
}

.dd.expanded::after {
  top: 0;
  right: -1em;
  transform: rotate(180deg);
}

.dd-container {
  list-style: none;
  background-color: var(--neutral-clr-400);
  border-radius: 0.5rem;
  padding-block: 1.25rem;
  padding-inline: 1.5rem 3rem;
  position: absolute;
  top: 2.5rem;
  right: -3.75rem;
  box-shadow: 0 0.5em 2.5em var(--neutral-clr-750);
  animation: dd 300ms ease-in-out;
  transform-origin: top center;
}

.dd-container#product {
  right: -4.5em;
}

.dd-container#company {
  right: -2.25em;
}

.dd-container#connect {
  right: -4em;
}

.dd-link {
  display: block;
  padding-block: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--neutral-clr-700);
  transition: linear 100ms;
}

.dd-link:hover {
  transform: scale(1.05) translateZ(0);
  backface-visibility: hidden;
  text-decoration: underline;
  color: var(--neutral-clr-800);
}

.hero {
  background-image: url("/src/assets/static/images/bg-pattern-intro-desktop.svg"),
    var(--bg-hero);
  background-position: top 50% left -30vmin, top 0 right 0;
  background-size: 200%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5.5rem;
}

.hero-cta {
  font-size: 1rem;
  font-weight: 800;
  font-family: var(--ff-ubuntu);
  display: block;
  margin-inline: 4px;
  border-radius: 2em;
  transition: 200ms ease-in-out;
}

.illustration-editor-container {
  transform: translateX(9.5rem) scale(1.25) translateY(-4.625rem);
  margin-right: -12.5rem;
}

.phones {
  background-image: url("/src/assets/static/images/bg-pattern-circles.svg"),
    var(--bg-middle-section);
  background-position: bottom -6.5rem left -13.5rem, top 0 left 0;
  background-repeat: no-repeat;
  border-top-right-radius: 5.5rem;
  border-bottom-left-radius: 6rem;
}

.illustration-phones {
  transform: scale(1.1) translateX(-1.75rem) translateY(1.375rem);
}

.illustration-laptop-container {
  transform: scale(1.25) translateX(-15.5rem) translateY(1rem);
  margin-right: -12.5rem;
}

.footer-links {
  background-color: var(--neutral-clr-800);
  border-top-right-radius: 5.5rem;
}

.footer-link {
  opacity: 0.8;
}

@keyframes dd {
  from {
    transform: rotateX(-90deg);
    box-shadow: none;
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes dd-mobile {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes menu-mobile {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --bg-hero: linear-gradient(
      180deg,
      hsl(13, 100%, 72%) 25%,
      hsl(353, 100%, 62%)
    );
  }
  .article {
    padding-inline: 1.5rem;
  }
  .hero {
    background-image: url("/src/assets/static/images/bg-pattern-intro-mobile.svg"),
      var(--bg-hero);
    background-size: 300%;
    background-position: top 50% left -50vmin, top 0 right 0;
  }

  .title-1 {
    line-height: 1.3;
  }
  .title-3,
  .title-4 {
    line-height: 1.2;
  }
  .illustration-laptop-container,
  .illustration-editor-container {
    transform: none;
    margin-inline: auto;
  }

  .phones {
    background-size: 150%;
    background-position: top -10rem right -10rem, top 0 left 0;
  }
  .illustration-phones {
    transform: scale(1) translateX(0) translateY(-2.5em);
  }
  .menu.expanded {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-clr-400);
    position: absolute;
    right: 1.5rem;
    left: 1.5rem;
    top: 4rem;
    border-radius: 6px;
    z-index: 10;
    padding: 1.5rem;
    text-align: center;
    animation: menu-mobile 300ms ease-in-out forwards;
    transform-origin: right center;
  }
  .menu.expanded > :first-child {
    padding-block-end: 1.5em;
    border-bottom: 1px solid var(--neutral-clr-550);
  }
  .dd {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--primary-clr-800);
    background-color: transparent;
    padding-block: 0.5em;
    border: 0;
    position: relative;
    opacity: 0.8;
  }
  .dd:hover {
    text-decoration: none;
  }
  .dd::after {
    background-image: url("/src/assets/static/icons/icon-arrow-dark.svg");
  }
  .dd.expanded {
    color: var(--primary-clr-700);
  }
  .dd.expanded::after {
    top: 0.5em;
  }
  .dd-container {
    list-style: none;
    background-color: var(--neutral-clr-550);
    border-radius: 6px;
    padding-block: 1.25rem;
    padding-inline: 0;
    position: static;
    box-shadow: none;
    animation: dd-mobile 300ms ease-in-out forwards;
    transform-origin: top;
  }
  .dd-link {
    text-align: center;
    color: var(--primary-clr-700);
  }

  .ua-login {
    color: var(--neutral-clr-800);
    font-size: 1.125rem;
    padding-block: 1.5em;
  }

  .hero-cta.sign-up {
    color: var(--neutral-clr-400);
    max-width: fit-content;
    margin-inline: auto;
    background-image: var(--bg-hero);
  }
}
